*,body{
    padding:0px;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main-container{
    width: 100%;
    margin:0 auto
}
.main-container .inner-container{
    width: 1168px;
    margin:0 auto;
    position: relative;
    
}
.main-container .container{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 50px;
}
.main-container .top-bar{
    background-color: black;
    height: 45px;
    line-height: 45px;
    margin-bottom: 30px;
}
.main-container .top-bar .top-bar-menu{
    display: grid;
    grid-template-columns: 570px 115px 298px;
    grid-gap: 20px;
    padding: 0 55px;
   
}
.main-container .top-bar-menu p{
    color:#ffffff;
    font-size:12px ;
    justify-self: end;
}
.main-container .top-bar-menu ul li{
    display: inline-block;
    margin-right: 5px;
    list-style: none;
}

.main-container .top-bar-menu ul li:last-child {
    margin-right: 0px;
}

.main-container .top-bar-menu ul li a i{
    color:black ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.main-container .top-bar .top-bar-menu .items{
    justify-self: end;
}
.main-container .top-bar .top-bar-menu .items i{
    color: white;
    margin-right: 5px;
}
.main-container .top-bar .top-bar-menu .items a{
    text-decoration: none;
    color:white;
    font-size: 14px;
}

.main-container .top-bar .top-bar-menu .items span{
    color:#ffa0d4;
}
/* .main-container .black-box{
    background-color: black;
    height: 45px;
    color:white;
    line-height: 45px;
    margin-bottom: 30px;

    
}
.main-container .black-box .black-box-grid{
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: center;
    padding-left: 160px;

}
.main-container .black-box-grid-one{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 22px;
    font-size:12px;
}
.main-container .black-box-grid-one .paragraph{
    text-align: end;
}
.main-container .black-box-grid-one .icons{
    text-align: start;
}
.main-container .black-box-grid-one .icons i{
    color: black;
    margin-right: 11px;
    border-radius: 10px;
    padding: 5px;
}
.main-container .black-box .black-box-grid-two{
    font-size: 14px;
    padding-right: 70px;
}
.main-container .black-box .black-box-grid-two a{
    color:white;
    text-decoration: none;
    margin-left: 8px;
}
.main-container .black-box .black-box-grid-two span {
    color:#ffa0d4;
} */
.main-container header .header-menu .menu {
    display: grid;
    grid-template-columns: 345px 206px 395px;
    align-items: center;
    justify-content: center;
    grid-gap: 45px;
}
.main-container header .header-menu .menu ul li {
    list-style: none;
    margin-right: 46px;
    display: inline-block;
    height: 49px;
    line-height: 49px;
}
.main-container header .header-menu .menu ul li:last-child {
    margin-right: 0px;
}
.main-container header .header-menu .header-menu-one ul li a:hover {
    color:pink;
}
.main-container header .header-menu  ul li ul.inner-menu li{
    display: none;  
}
.main-container header .header-menu  ul li:hover ul.inner-menu{
    border: 1px solid;
    width: 168px;
    position: absolute;
    z-index: 3;
    background-color: #ffffff;
}
.main-container header .header-menu  ul li:hover ul.inner-menu li{
    display:block;
    
    height: 50px;
    border-bottom: 1px solid;
    line-height: 50px;
    text-align: center;
    width: 100%;
}
.main-container header .header-menu  ul li:hover ul.inner-menu li:last-child{
    border-bottom: 0;
}
.main-container .top-bar-menu ul li a.active {
    color: #ffa0d4;
}
.main-container header .header-menu .header-menu-two ul li a:hover {
    color:pink;
}
.main-container header .header-menu .menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 16px; 
}
.main-container header .header-menu .menu .pic{
     height: 138px;
}
.main-container .logo .logo-pic {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;

}
.main-container .logo .box {
    width: 466px;
    height: 220px;
    background-color: pink;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    padding: 20px;
}
.main-container .logo .box .box-heading {
    border:white 9px solid ;
    width: 426px;
    height:180px;
}
.main-container .logo .box h1 {
    font-size:74px ;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
}
.main-container .logo .box p {
    font-size: 18px;
    color: #ffffff;
}
.main-container .heading h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 90px;
    padding: 0 120px;
    font-family: 'Amatic SC', cursive;
}
.main-container .heading .middle-images {
    display: grid;
    grid-template-columns: 369px 369px 367px;
    grid-gap: 30px;
}
.main-container .paragraph h1 {
    font-size: 60px;
    text-align: center;
    padding: 0 120px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 50px;    
}
.main-container .paragraph .middle-paragraphs {    
    display: grid;
    grid-template-columns: 541px auto;
    grid-gap: 30px;
    
}
.main-container .middle-paragraphs .paragraph-2 h4 {
    margin-bottom: 22px;
    font-size:15px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 35px;
}
.main-container .middle-paragraphs .paragraph-2 p{
    margin-bottom: 37px;
    font-size: 15px;
    margin-bottom: 35px;
}
 .middle-paragraphs .paragraph-2 p span {
    color:#ffa0d4;
}
.main-container .middle-paragraphs .paragraph-3 p {
    margin-bottom: 37px;
    margin-bottom: 35px;
}
.main-container .middle-paragraphs .paragraph-3 p:last-child{
    margin-bottom: 0;
}
.main-container .middle-paragraphs .paragraph-3 h4 {
    margin-bottom: 22px;
    font-size:15px;
}
.main-container .middle-paragraphs .paragraph-3 p span {
    color:#ffa0d4;
} 
.main-container footer{
    background-color: black;
    height: 165px;
}
.main-container .inner-container .footer-menu {
    display: grid;
    grid-template-columns: 1fr 206px 1fr;
    grid-gap: 35px;
    align-items: center;
    padding-top:20px;
}
.main-container .footer-menu .footer-menu-one {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-content: end;
}
.main-container footer .footer-menu .footer-menu-one ul li {
    list-style :none;
    margin-right: 15px;
    display: inline-block;
    font-size: 12px;   
} 
.main-container footer .footer-menu .footer-menu-one ul li:last-child a {
    margin-right: 0px;
}
.main-container footer .footer-menu .footer-menu-one ul li a {
    text-decoration: none;
    color: #666666;
}
.main-container footer .footer-menu .footer-menu-one .footer-icons {
    text-align: end;
}
.main-container footer .footer-menu .footer-menu-one .footer-icons i {
    background-color: #ffa0d4;
    color: black;
    margin-right: 11px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
}
.main-container footer .footer-menu .footer-menu-two {
    justify-content: start;
}
.main-container footer .footer-menu .footer-menu-two p {
    color:#666666;
    font-size: 12px;
    margin-bottom: 20px;
}
.main-container footer .footer-menu .footer-menu-two span {
    color:#ffffff;
    font-size: 12px;  
  
}